<div class="row g-3">
    <div class="col-md-3">
        <div class="card bg-primary text-white p-3">
            <h6>Tổng Thành Viên</h6>
            <h2>1,240</h2>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-success text-white p-3">
            <h6>Truyện Đã Duyệt</h6>
            <h2>568</h2>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-warning text-dark p-3">
            <h6>Yêu cầu duyệt mới</h6>
            <h2>@ViewBag.PendingCount</h2>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-info text-white p-3">
            <h6>Thành viên VIP</h6>
            <h2>89</h2>
        </div>
    </div>
</div>